@import "/public/style/variable.css";

.controller_container {
    display: flex;
    flex-direction: column;
    padding: 16px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    transition: all .25s ease-in-out;
    backdrop-filter: blur(10px);
    background: rgba(1, 70, 1, 0.247);
}

.controller_container h1 {
    margin: 8px auto;
    gap: 4px;
    color: white;
    text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.8);
}

.data_cards {
    margin: 24px auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(1, 50%);
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.data_card {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(12px);
    color: white;
    border-radius: 16px;
    padding: 24px;
    gap: 16px;
    transition: all .15s ease-in-out;
}

.data_card h3 {
    width: 100%;
    text-align: justify;
    color: white;
    transition: all .15s ease-in-out;
}

.data_card h1 {
    width: 100%;
    text-align: justify;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 8px;
    transition: all .15s ease-in-out;
}

.data_card:hover {
    transform: scale(1.03);
    text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 12px rgba(2, 51, 0, 0.507);
}

.data_card div {
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.controll_items {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.quantity {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.switch {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100px;
    background: white;
    border-radius: 50px;
    transition: all .25s ease-in-out;
    position: relative;
    overflow: hidden;
}

.switch::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .25s ease-in-out;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}

.switch_off {
    background: rgb(255, 151, 151) !important;
}

.switch_off::after {
    content: "off" !important;
    left: 0 !important;
    background: red !important;
}

.switch_on {
    background: rgb(181, 253, 181) !important;
}

.switch_on::after {
    content: "on" !important;
    left: 50px !important;
    background: green !important;
}

.switch:active {
    transform: scale(1.03);
}

.switch_disabled {
    opacity: 0.4;
}

.switch_disabled:hover {
    transform: none !important;
}